/* app css stylesheet */
header h1 {
    background: #2D2D2D;
    color: #BBBBBB;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0.5em;
}
.rightHeaderButtons {
    text-align: right;
}

.stuffList li {
    margin-bottom: 1.5em;
}

.nav li a{
    /*border: 1px solid #eee;*/
    -webkit-transition: 0.5s ease-out;
}

.addStuffForm {
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid silver;
    padding: 1em;
    margin-bottom: 1em;
}


.addStuffForm {
    transition: 2s;
    -moz-transition: 2s; /* Firefox 4 */
    -webkit-transition: 2s; /* Safari and Chrome */
    -o-transition: 2s; /* Opera */
}
