/* app css stylesheet */
header h1 {
    background: #2D2D2D;
    color: #BBBBBB;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 0.5em;
}
.rightHeaderButtons {
    text-align: right;
}

.stuffList li {
    margin-bottom: 1.5em;
}

.nav li a{
    /*border: 1px solid #eee;*/
    -webkit-transition: 0.5s ease-out;
}
