<div class="row">
    <div class="span4"><h2>My Friend</h2></div>
    <div class="span4 rightHeaderButtons">
        <button id="showAddFriendFormButton" class="btn" ng-click="showAddForm()" ng-hide="!isAddFriendFormHidden">Add Friend</button>
    </div>
</div>

<div class="addItemForm" ng-hide="isAddFriendFormHidden">
    <h3>Add Friend</h3>
    <div ng-include src="'partials/friend-form.html'">Toll</div>
    <button class="btn btn-primary" ng-click="addFriend()">Add Friend</button>
</div>

<ul class="unstyled friendList">
    <li ng-repeat="friend in friendList | orderBy:'title'">
        <h3><a href="#/friends/{{friend.id}}">{{friend.name}}</a></h3>
        <p>{{friend.stuffUrl}}</p>
    </li>
</ul>