<div class="btn-group" style="float:right;">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-click="delete()">Delete</a></li>
    </ul>
</div>
<h2>{{stuff.title}}</h2></div>

<label for="title">Title</label><input id="title" ng-model="stuff.title" ng-model-instant autofocus="autofocus"/>
<label for="description">Description</label>
<textarea name="description" id="description" cols="30" rows="10" ng-model="stuff.description"></textarea><br>

<button class="btn btn-primary" ng-click="save()">Save</button>
